<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="queryCatalog" value="C:\dyskD\queryzap"/>
		<add key="zapCatalog" value="C:\dyskD\queryzap\zap"/>
		<add key="ekselCatalog" value="C:\dyskD\queryzap\eksel"/>
		<add key="edytor" value="C:\Program Files (x86)\Notepad++\notepad++.exe"/>
		<add key="context" value="C:\dyskD\queryzap\context\"/>

	</appSettings>
</configuration>